<div class="box">
  <h1 class="title">
    Jurisprudência Messiânica
  </h1>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          Único
        </div>
      </div>
      <div class="img">
        <img src="/assets/yeshua.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>YESHUA HAMASHIA</b>
        </div>
        <div>
          <em>Juiz de Israel</em>
          <em>Juiz das Nações</em>
          <em>Juiz dos Anjos</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          30 d.C
        </div>
        <div>
          até
        </div>
        <div>
          33 d.C
        </div>
      </div>
      <div class="proposito">
        <div>
          Magistratura Messiânica
        </div>
        <a>
          [Ver ensinos]
        </a>
      </div>
    </div>
  </div>

  <h3 class="title-sub">
    Súmulas Vinculantes de YESHUA HAMASHIA
  </h3>

 <div class="box-sumula">
  <div class="sumulas">
    <div style="margin-right: 10px;">
      <b>1ª Súmula</b>
    </div>
    <div class="aceito">
      <em> "Qualquer um que der carta de divórcio a sua esposa sem ser porque ela não era virgem na consumação de núpcias
        comete adultério, e quem casa com a divorciada também adultera, — NÃO EXISTE DIVÓRCIO EM CASO DE ADULTÉRIO — ".
      </em>
    </div>
  </div>
  <div class="ref">
    <div>
      <em>Citação:</em>
    </div>
    <em><b>Marcos 10: 2-12; Mateus 5: 31-32; Mateus 19: 7-11</b></em>
  </div>
 </div>

 <div class="box-sumula" style="margin-top: 30px;">
  <div class="sumulas">
    <div style="margin-right: 10px;">
      <b>2ª Súmula</b>
    </div>
    <div class="aceito">
      <em> "Qualquer doutrina rabínica que invalida a Torah de Deus é inválida".
      </em>
    </div>
  </div>
  <div class="ref">
    <div>
      <em>Citação:</em>
    </div>
    <em><b>Marcos 7: 7-13</b></em>
  </div>
 </div>

  <br/>
  <br/>
  <h1 class="title">
    Jurisprudência Mosaica
  </h1>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          Único
        </div>
      </div>
      <div class="img">
        <img src="/assets/moises.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>MOISÉS</b>
        </div>
        <div>
          <em>Juiz de Israel</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          ?
        </div>
        <div>
          até
        </div>
        <div>
          ?
        </div>
      </div>
      <div class="proposito">
        <div>
          Magistratura Mosaica
        </div>
        <a>
          [Ver ensinos]
        </a>
      </div>
    </div>
  </div>

  <h3 class="title-sub">
    Súmulas Vinculantes de MOISÉS
  </h3>

  <div class="box-sumula">
    <div class="sumulas">
      <div style="margin-right: 10px;">
        <b>1ª Súmula</b>
      </div>
      <div class="rejeitado">
        <em> "Quem não se agradar da sua esposa pode dar carta de divórcio."
        </em>
      </div>
      <div style="margin-left: 10px;">
        [Revogado por YESHUA HAMASHIA]
      </div>
    </div>
    <div class="ref">
      <div>
        <em>Citação:</em>
      </div>
      <em><b>Deuteronômio 24: 1-4</b></em>
    </div>
   </div>


</div>
