<div class="box">
  <div class="texto">
    <div class="title">
      Judiciário
    </div>
   <div class="content">
    <div>
      A Justiça do Reino de Deus é como a Árvore da Vida, e suas raízes se dividem em três partes:
    </div>
    <br/>
    <div>
      A Primeira Raiz é raiz do perdão, da misericórdia, da intercessão, da graça... E Deus deu esta raiz a dois homens, a mais importante,
      Deus deu a YESHUA HAMASHIA, o seu filho, e esta tem poder de perdoar todos os pecados, e é maior do que a segunda parte desta raiz, que foi
      dada a Arão e sua família, quando Deus os estabeleceu para serem seus ministros da misericórdia em Israel.
    </div>
    <br/>
    <div>
      A Segunda Raiz é raiz do ensino da justiça e da lei, do amor a lei e da justiça, da observação da lei e da justiça, do conhecimento da lei e da justiça...
      E Deus deu esta raiz aos rabinos e eles devem ensinar ao povo a lei e a justiça do Reino de Deus.
    </div>
    <br/>
    <div>
      A Terceira Raiz é raiz do zelo da justiça e da lei, da aplicação a lei e da justiça, da punição e condenação dos transgressores da lei e da justiça...
      E Deus deu esta raiz aos juizes e eles devem julgar aqueles dentre o povo que são transgressores da lei e da justiça do Reino de Deus.
    </div>
    <br/>
    <div>
      E todas estas três raízes compõe a Árvore da Vida, isto é, a Justiça do Reino de Deus. Sendo a Ordem de Moisés: os rabinos e juízes.
      E a Ordem de Arão são os sacerdotes. Apesar de haver ramificações, como por exemplo, YESHUA HAMASHIA cria dentro da Ordem Rabínica,
      a Ordem Apostólica, e esta composta apenas dos 12 apóstolos que ele escolheu.
    </div>
   </div>
  </div>
  <div class="buttons">
    <div>
      <a routerLink="ordem-moises" class="button">
        Ordem de Moisés
      </a>
    </div>
    <div>
      <a routerLink="ordem-arao" class="button">
        Ordem de Arão
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet >
