<div class="box-total">
  <div class="title">
    <div>
      PODERES DO REINO DE JERUSALÉM
    </div>
    <div>
      סמכויות ממלכת ירושלים
    </div>
  </div>

  <div class="box-flex-powers">

    <div class="flex-powers">
      <div class="title-intern">
        <div>
          EXECUTIVO
        </div>
        <div>
          אקזקיוטיב
        </div>
        <div class="border"></div>
      </div>
      <a class="title-intern" routerLink="/trono-real">
        <div>
          <div>
            Federal
          </div>
          <div style="display: flex; justify-content: center;">
            פדרלי
          </div>
        </div>
        <div>
          <div style="display: flex; justify-content: center;">
            Trono Real de Jerusalém
          </div>
        </div>
      </a>
      <div>
        <div class="title-intern" style="margin-bottom: 5px;">
          <div>
            Estadual
          </div>
          <div>
            מצב
          </div>
        </div>
      <div class="group-govern" margi>
        <div class="groups left-group">
          <div>
            Governo de Judá
          </div>
          <div>
            Governo de José
          </div>
          <div>
            Governo de Rúben
          </div>
          <div>
            Governo de Benjamin
          </div>
          <div>
            Governo de Simeão
          </div>
          <div>
            Governo de Asser
          </div>
        </div>
        <div class="groups">
          <div>
            Governo de Zebulom
          </div>
          <div>
            Governo de Dã
          </div>
          <div>
            Governo de Nafitali
          </div>
          <div>
            Governo de Issacar
          </div>
          <div>
            Governo de Gade
          </div>
          <div>
            Sumo Sacerdote de Levi
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="flex-powers">
      <div class="title-intern">
        <div>
          LEGISLATIVO
        </div>
        <div>
          המחוקקת
        </div>
        <div class="border"></div>
      </div>
      <div>
        <a class="title-intern" routerLink="/senado-federal">
          <div>
            Federal
          </div>
          <div>
            פדרלי
          </div>
          <div>
            Senado Federal de Sião
          </div>
        </a>
      </div>
      <div class="title-intern">
        <div>
          Estadual
        </div>
        <div>
          מצב
        </div>
        <div>
          Câmara Legislativa de Judá
        </div>
      </div>
    </div>

    <div class="flex-powers">
      <div class="title-intern">
        <div>
          JUDICIÁRIO
        </div>
        <div>
          הרשות השופטת
        </div>
        <div class="border"></div>
      </div>
      <div>
        <div>
          <a class="title-intern" routerLink="/justica-federal">
            <div>
              Federal
            </div>
            <div>
              פדרלי
            </div>
            <div>
              Justiça Federal de Jerusalém
            </div>
          </a>
               <div class="flex-equals">
              <div class="order-law">
                <a routerLink="/justica-federal/ordem-moises">
                  Ordem de Moisés
                  <div>
                    מסדר משה
                  </div>
                </a>
                <div class="order-law-sub">
                  <a routerLink="/justica-federal/ordem-moises/juizes-federais">
                    Juízes Federais
                  </a>
                  <a routerLink="/justica-federal/ordem-moises/rabinos-federais">
                    Rabinos Federais
                  </a>
                </div>
              </div>
              <div class="order-law">
               <a routerLink="/justica-federal/ordem-aarao">
                Ordem de Aarão
                <div>
                  מסדר אהרון
                </div>
               </a>
                <div class="order-law-sub">
                  <a routerLink="/justica-federal/ordem-aarao/sumo-sacerdote">
                    Sumo Sacerdote
                  </a>
                  <a routerLink="/justica-federal/ordem-aarao/sacerdote">
                    Sacerdotes
                  </a>
              </div>
            </div>
            </div>
        </div>
        <div>
        </div>
      </div>
      <div >
        <div class="title-intern">
          <div>
            Estadual
          </div>
          <div>
            מצב
          </div>
          <div class="flex-equals">
            <div class="order-law">
              <div>
                Ordem de Moisés
              </div>
              <div class="order-law-sub">
                <div>
                  Juízes Estaduais
                </div>
                <div>
                  Rabinos Estaduais
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
