.box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;

    .title{
      font-size: 22px;

    }

    img{
      width: 100px;
      height: 75px;
    }
  }

  .texto-sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;

    .title-sub{
      font-size: 24px;

    }

    img{
      width: 200px;
      height: 150px;
    }
  }

  .card{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    // align-items: center;
  }

  .cards{
    display: flex;
    flex-direction: column;
    // flex:1;
    // height: 100%;
    // justify-content: center;
    // align-items: center;
    // // align-self: center;
    // margin-top: 20px;
      margin-top: 20px;
      margin-right: 30px;

      a{
        padding: 5px;
        text-decoration: none;
        color: #000;
        &:hover{
          color: #0d3b5c;
          text-decoration: underline;
        }
      }
  }
}

.box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.body-text{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: justify;

  .citacao{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: justify;

  }
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

.meudna{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 900px;
  height: 500px;

}
