<div class="box">
  <div class="texto">
    <div class="title">
      SENADO DE SIÃO
    </div>
    <div class="title">
      סנאט ציון
    </div>
    <img src="/assets/senado.png" alt="">
  </div>
  <div class="texto-sub">
    <div class="title-sub">
      Tratado Internacional
    </div>
    <div class="title-sub" style="font-size: 20px; color: rgb(170, 15, 15);">
      <b><em>sobre o retorno dos Israelitas Judaísmo Messiânico</em></b>
    </div>
  </div>
  <div class="body-text">
    <br>
    <div>
      Eu, Gabriel Sousa, chamado por ADONAY YESHUA HAMASHIA para despertar os filhos de Israel
      dispersos entre as nações, às praticas do judaísmo messiânico. Convoco os rabinos e todos aqueles
      que têm vontade de resgatar o verdadeiro judaísmo messiânico. Precisamos resgatar e ensinar
      estatutos, leis e juízos que foram esquecidos pelos filhos de Israel em seu exílio entre os gentios.
    </div>
    <span style="margin-top: 5px;"></span>
    <div>
      Por este motivo, decidi criar a <b>Congregação Israelita Messiânica (CIM)</b> surge com o propósito de unir todos
      os filhos do Reino de Deus, que nada mais são do que todas as tribos de
      Israel, debaixo de uma mesma legistratura, jusrisprudência e doutrina rabínica, dividos assim:
    </div>
    <ul style="margin-top: 10px;">
      <li>
        <b>A Legistratura</b> do Reino de Jerusalém ficou com a Judá, mais especificamente, com a casa de Davi,
        estando o cetro real que é o Trono Real com YESHUA HAMASHIA, e o
        bastão que é a legislatura do Senado de Sião de onde sairá a Lei, com os filhos de Davi, que
        chamamos de Sião, que é a cidade de Davi.
      </li>
      <li>
        <b>A Jusrisprudência</b> do Reino de Jerusalém dependerá da nomeção do próprio YESHUA HAMASHIA. Por que
        Deus não nos deu direito para pormos juízes sobre nós, mas a aqueles que foi dado poder para julgar.
        Estes serão nossos juízes.
      </li>
      <li>
        <b>A Doutrina Rabínica</b> do Reino de Jerusalém está ao encargo dos rabinos porque eles são GUARDIÕES DA LEI,
        quer ensinando-a como rabino, quer defendendo-a perante as heresias.
      </li>
    </ul>
    <div>
     Por que desde que Israel foi ao exílio estamos sem legisladores, sem juízes, sem rabinos... Os gentios têm sido os nossos legisladores,
     juízes, rabinos, mestres. Por isto, proponho que nos unamos, como irmãos, até o retorno de YESHUA HAMASHIA. Faremos tudo o que
     for lícito diante a lei e justiça de Deus. Por esta razão eu proponho este tratado as Sinagogas Messiânicas.
    </div>
    <br>
    <em class="citacao">
      <div>
        "Deus nos tem chamado para voltarmos às práticas dos estatutos, leis e juízos que foram praticados
        por nosso ADONAY YESHUA HAMASHIA do qual jamais aboliu a lei e os profetas. Voltemos para Deus porque
        o Reino de Jerusalém descerá até nós". <b>Gabriel Sousa</b>
      </div>
    </em>
    <br>
    <h3 class="title">Quem sou eu?</h3>
    <div>
      Eu, sou judeu, da casa de Davi, e uso o meu direito real, e o poder que há no meu sangue real, para restaurar o Senado do Reino de Jerusalém.
      E dar as Sinagogas Messiânicas as legislaturas que vocês precisam, perante Deus e perante os anjos de Deus.
      Porque vocês não podem legislar, e eu quero avançar o judaísmo messiânico.
      E aos que não creem que eu não tenho sangue de Davi, iremos examinar as escrituras juntamente com o meu DNA:
    </div>
    <h3 class="title">Mapeando o trajeto de Sião</h3>
    <ol>
      <li>
        Com a queda de Jerusalém em 70 d.C, Sião saiu de Jerusalém e foi em direção ao deserto da Arábia
      </li>
      <li>
        Depois Sião saiu do deserto da Arábia e foi em direção ao deserto do Saara
      </li>
      <li>
        Depois Sião saiu do deserto do Saara e foi em direção à Terra do Norte
      </li>
    </ol>
    <h3 class="title">Onde Isto está nas escrituras o trajeto de Sião?</h3>
    <ul>
      <li>
        <b>Definição de Sião</b> é a família real do Davi, quando Isaías profetiza que de Sião viria o nosso salvador que é ADONAY YESHUA HAMASHIA. Ele estava dizendo que
        YESHUA HAMASHIA seria judeu da casa de Davi.
      </li>
      <li>
        <b>Sião é a mulher vestida de Sol</b> quando o Apóstolo João diz que a mulher vestida de sol, com a lua debaixo dos pés e a coroa de 12 estrelas deu à luz a YESHUA,
        e após dar à luz, Satanás buscou destruir a mulher, isto é, Sião ao atacar Jerusalém, e os filhos de Sião correram primeiramente ao deserto da Arábia. Para fugir de Satanás e dos romanos.
      </li>
      <li>
        <b>Sião sai do deserto da Arábia e vai para o deserto do Saara</b> porque Deus deu asas, para que Sião voasse a outro deserto, isto é o deserto do Saara. Mas, Satanás não cessou de perseguir a Sião e a Judá, e levou os
        gentios para retirarem Judá e Sião do deserto do Saara, mas Terra se levantou em favor de Sião e Judá.
      </li>
      <li>
        <b>Sião vai em direção a terra do Norte</b> o profeta Zacarias fala que no fim dos dias, Deus chamaria os filhos de Sião da Terra do norte. Ou seja,
        Sião saiu de Jerusalém e foi em direção ao deserto da Arábia, e do deserto do Saara saiu para a Terra do Norte.
      </li>
    </ul>
    <div>
      Ou seja, para ser Sião tem que ter essa sequência genética:
    </div>
    <ol>
      <li>
        Israel
      </li>
      <li>
        Deserto da Arábia
      </li>
      <li>
        Deserto do Saara
      </li>
      <li>
        Terra do Norte
      </li>
    </ol>
    <div>
      A pessoa que não tiver essa sequência genética está desclassificada.
    </div>
    <h3 class="title">Meu cromossomo Y </h3>
    <!-- <div>
      Meu cromossomo Y
    </div> -->
    <!-- <br> -->
    <img src="/assets/meudna.png" alt="" class="meudna">
    <h3 class="title">E-M2 (Y-DNA)</h3>
    <div>
      <b style="color: rgb(148, 16, 16);">E</b>-M2 é o Y-DNA dos judeus que fugiram para o deserto da Arábia e o
      deserto do Saara, o mesmo percurso feito por Sião, quando a mulher vestida do Sol, com a lua debaixo dos pés
      e a coroa de doze estrelas fez. Quando ela fugiu para o deserto, e Deus deu asas para ela voar para outro deserto
      mais distante.
    </div>
    <br>
    <a href="https://druidikal.wordpress.com/e-m2-and-subclades-outside-of-west-africa/">
      Haplogroup E-M2
    </a>
    <br>
    <img src="/assets/em2.png" alt="" class="meudna">
    <h3 class="title">I-CTS616 (Y-DNA)</h3>
    <div>
      <b style="color: rgb(148, 16, 16);">I</b>-CTS616 é o Y-DNA de Sião. Depois que a mulher vai para o deserto, ela sobe
      para a terra do norte. Local que ela é chamada no fim dos dias para regressar a Israel, isto está registrado em Zacarias:
    </div>
    <br>
    <div class="citacao">
     <em>
      Vamos! Vamos! Fujam da terra do Norte, diz o Senhor, porque eu espalhei vocês como os quatro ventos do céu, diz o Senhor.
      Vamos! Fuja, Sião, você que habita com a filha da Babilônia. Pois assim diz o Senhor dos Exércitos: Para obter a glória,
      ele me enviou às nações que saquearam os bens de vocês. Porque aquele que tocar em vocês toca na menina dos meus olhos. (Zacarias 2: 6-8)
     </em>
    </div>
    <br>
    <img src="/assets/cts.png" alt="" class="meudna">
    <br>
    <a href="https://www.eupedia.com/europe/Haplogroup_I2_Y-DNA.shtml">
      Haplogroup I-CTS616
    </a>
    <br>
    <h3 class="title">DNA Alossômico (Cromossomo-Y)</h3>
    <div>
      O cromossomo Y é o DNA das genealogias, e é passado de pai para filho. E cada nação que Deus criou tem o seu próprio haplogrupo genético,
      é como se fosse a marca digital genética das nações.
      Inclusive a nação de Israel possue o seu próprio haplogrupo genético, que
      é <em><b>o haplogrupo E</b></em>. Este haplogrupo é encontrado em dinastias rabínicas como a dinastia rabínica Lurie, e a
      dinastia Rabínica de Wertheim-Giterman.
    </div>
    <div>
      O meu cromossomo Y é <em><b>o haplogrupo E</b></em>. O mesmo haplogrupo encontrado nas dinastias rabínicas de Lurie, Wertheim-Giterman
      e dinastia Chassídica.
    </div>
    <br>
    <a href="https://exames.genera.com.br/paterna?c=W68pAmR2Gkb23gMajQ&cc=db772f0c015731344557ce81f80df389686384f228ec7024bdcc1d5c337b0407">
      Ver Cromossomo Y do Gabriel Sousa
    </a>
    <br>
    <h3 class="title">DNA dos Rabinos</h3>
    <div>
      Tantos judeus asquenazes quanto judeus sefarditas compartilham o mesmo DNA, <em><b>o haplogrupo E</b></em>,
      inclusive dinastias rabínicas:
    </div>
    <br>
    <table>
      <tr>
        <th>
          DNA
        </th>
        <th>
          Rabino
        </th>
        <th>
          Tribo
        </th>
        <th>
          Referência 1
        </th>
        <th>
          Referência 2
        </th>
        <th>
          Referência 3
        </th>
        <th>
          Referência 4
        </th>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M78
        </td>
        <td>
          Sumo Sacerdote Arão
        </td>
        <td>
          Tribo de Levi
        </td>
        <td>
          <a href="https://en.wikipedia.org/wiki/Y-chromosomal_Aaron#Samaritan_Kohanim">Ver DNA</a>
        </td>
        <td>
          <a href="https://www.familytreedna.com/public/JEWISHE3BPROJECT?iframe=ycolorized">Ver Genealogia Aarão</a>
        </td>
        <td>
          <a href="https://pubmed.ncbi.nlm.nih.gov/16835895/">Ver DNA Aarão</a>
        </td>
        <td>
          <a href="https://onlinelibrary.wiley.com/doi/10.1002/humu.20077">Estudo DNA Cohen</a>
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-V13
        </td>
        <td>
          Larry Page (Fundador do Google)
        </td>
        <td>
          Tribo de José (casa de Manassés)
        </td>
        <td>
          <a href="https://www.eupedia.com/europe/Haplogroup_E1b1b_Y-DNA.shtml ">Ver DNA</a>
        </td>
        <td>
          <a href="https://www.familytreedna.com/public/Page?iframe=yresults">Ver Genealogia Page</a>
        </td>
        <td>
          <a href="https://www.geni.com/people/Larry-Page/6000000028998087076">Pesquisa Genealógica</a>
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M35
        </td>
        <td>
          Linhagem Rabínica Lurie
        </td>
        <td>
          Tribo de José (casa de Manassés)
        </td>
        <td>
          <a href="https://www.familytreedna.com/public/Luria?iframe=yresults">Ver DNA</a>
        </td>
        <td>
          <a href="https://en.wikipedia.org/wiki/Lurie">Ver Genealogia Lurie</a>
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M2
        </td>
        <td>
          Linhagem Rabínica Katzenellenbogen
        </td>
        <td>
          Tribo de Judá
        </td>
        <td>
          <a href="https://avotaynuonline.com/2016/03/y-dna-genetic-signature-ethnic-origin-katzenellenbogen-rabbinical-lineage/">Ver DNA</a>
        </td>
        <td>
          <a href="https://www.familytreedna.com/public/Katzenellenbogen?iframe=yresults">Ver Genealogia Katzenellenbogen</a>
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-L117
        </td>
        <td>
          Linhagem Rabínica da Wertheim-Giterman Chassídica Dinastia
        </td>
        <td>
          Tribo de José - (casa de Efraim)
        </td>
        <td>
          <a href="https://www.jewish-eshop.cz/user/documents/upload/Y-DNA_Research_Studies_of_Rabbinical_Lin.pdf">Ver Estudo</a>
        </td>
        <td>
          <a href="https://www.familytreedna.com/public/Wertheim?iframe=ycolorized">Ver Genealogia Wertheim-Giterman</a>
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M35
        </td>
        <td>
          Linhagem Rabínica Michel de Zlatchov
        </td>
        <td>
          Tribo de José - (casa de Manassés)
        </td>
        <td>
          <a href="https://www.jewish-eshop.cz/user/documents/upload/Y-DNA_Research_Studies_of_Rabbinical_Lin.pdf">Ver Estudo</a>
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-Z830
        </td>
        <td>
          Albert Einstein (Cientista)
        </td>
        <td>
          Provavelmente tribo de Zebulom
        </td>
        <td>
          <a href="https://www.eupedia.com/europe/Haplogroup_E1b1b_Y-DNA.shtml">Ver Estudo</a>
        </td>
        <td>
          <a href="https://www.familytreedna.com/public/JEWISHE3BPROJECT?iframe=ycolorized">Ver Genealogia Albert Einstein</a>
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M2
        </td>
        <td>
          Gabriel Sousa
        </td>
        <td>
          Tribo de Judá
        </td>
        <td>
          <a href="https://exames.genera.com.br/paterna?c=W68pAmR2Gkb23gMajQ&cc=db772f0c015731344557ce81f80df389686384f228ec7024bdcc1d5c337b0407">Ver Estudo</a>
        </td>
      </tr>
    </table>
    <br>
    <div>
      Eu portanto uso o meu direito real, e o poder que há no meu sangue real, para restaurar o Senado do Reino de Jerusalém.
      E inicialmente legislo para a criação de:
    </div>
    <ul>
      <li>
        <b>JFJ - Justiça Federal de Jerusalém</b> é o órgão supremo da justiça e será composto por 12 rabinos eleitos, dentre os quais
        vocês irão eleger.
      </li>
      <li>
        <b>CSJ - Conselho Superior de Justiça</b> é o conselho supremo da justiça e será composto por 12 rabinos eleitos, dentre os quais
        vocês irão eleger.
      </li>
      <li>
        <b>Rabinos Federais</b> têm jurisdição federal, e são órgãos da Justiça Federal do Reino de Jerusalém, juntamente com as suas Sinagogas.
      </li>
      <li>
        <b>Rabinos Estaduais</b> têm jurisdição estadual, e são órgãos da Justiça Federal do Reino de Jerusalém, juntamente com as suas Sinagogas.
      </li>
      <li>
        <b>Yeshivás</b> para a formação de novos rabinos messiânicos e a expansão das sinagogas messiânicas.
      </li>
    </ul>

    <h3 class="title">As Sinagogas Messiânicas tomem ciência de que no Brasil há mais de 20 milhões de israelitas</h3>
    <div>
      As Sinagogas Messiânicas tomem ciência de que no Brasil há mais de 19 milhões de filhos de Israel, que vivem entre os gentios, e nem sequer
      tem a consciência de que são filhos do Reino de Deus. Isto, sem contar as mulheres e os bastardos que também vivem no meio de nós.
    </div>
    <br>
    <div>
      As Sinagogas que ratificarem este tratado se comprometem perante Deus, perante seu filho Yeshua Hamashia o rei de Jerusalém. E Perante o
      Espírito Santo, e perante toda congregação de Israel e dos anjos de Deus, a resgatar nossos irmãos que vivem entre os gentios, e ensinar
      às práticas dos estatutos, leis e juízos que foram esquecidos por eles.
    </div>
    <br>

    <h3 class="title">Judeus e Israelitas no Brasil</h3>
    <table>
      <tr>
        <th>
          Y-DNA
        </th>
        <th>
          Tribo
        </th>
        <th>
          Porcentagem
        </th>
        <th>
          População
        </th>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M2
        </td>
        <td>
          Judá (casa de Perez)
        </td>
        <td>
          4,90%
        </td>
        <td>
         4.826.500
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M78
        </td>
        <td>
          Levi
        </td>
        <td>
          6,00%
        </td>
        <td>
          5.910.000
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M81
        </td>
        <td>
          Benjamim
        </td>
        <td>
          3,10%
        </td>
        <td>
          3.053.500
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M191
        </td>
        <td>
          Judá (casa de Zerá)
        </td>
        <td>
          2,90%
        </td>
        <td>
          2.856.500
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M154
        </td>
        <td>
          Judá (casa de Selá)
        </td>
        <td>
          0,10%
        </td>
        <td>
          98.500
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M33
        </td>
        <td>
          Dã
        </td>
        <td>
          1,70%
        </td>
        <td>
          1.674.500
        </td>
      </tr>
      <tr>
        <td>
          <b style="color: rgb(148, 16, 16);">E</b>-M35
        </td>
        <td>
          José
        </td>
        <td>
          0,50%
        </td>
        <td>
          492.500
        </td>
      </tr>
    </table>

    <br>
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4821637/">
      Link da pesquisa Genética Brasileira
    </a>
    <br>

    <div>
      Eu, Gabriel Sousa, príncipe do Reino de Jerusalém, uso o meu o poder legislativo do Senado Federal do Reino de Jerusalém,
      e ordeno aos anjos do Eterno auxiliem os rabinos messiânicos a reunir os filhos de Israel nas sinagogas messiânicas.
    </div>

    <br>
    <div>
      Este tratado tem a força da lei de Sião, conforme está escrito nas leis do Eterno:
    </div>

    <br>
    <em class="citacao">
      <div>
        “De Sião sairá a Lei e de Jerusalém a Palavra do Senhor”. (Isaías 2: 3)
      </div>
    </em>
    <br>

    <em class="citacao">
      <div>
        “Meu é Gileade e meu é Manassés; Efraim é a força da minha cabeça; Judá é o meu legislador”. (Salmos 60: 7)
      </div>
    </em>
    <br>

    <em class="citacao">
      <div>
        “Judá, teus irmãos te louvarão; a tua mão estará sobre a cerviz de teus inimigos; os filhos de teu pai se inclinarão a ti”.
        (Gênesis 49: 8)
      </div>
    </em>
    <br>

    <em class="citacao">
      <div>
        “O cetro não se arredará de Judá, nem o bastão de entre seus pés, até que venha Siló; e a ele obedecerão os povos”.
        (Gênesis 49: 10)
      </div>
    </em>
    <br>

    <br>
    <b><em>
      <div>
        Gabriel, príncipe do Reino de Jerusalém, súdito de Yeshua Hamashia, o meu rei, servo do meu Deus, e candelabro do Espírito Santo de Deus.
      </div>
    </em></b>

  </div>

</div>
