<div class="box">
  <div class="texto">
    <div class="title">
      JUDICIÁRIO DE JERUSALÉM
    </div>
    <div class="title">
      הרשות השופטת בירושלים
    </div>
    <img src="/assets/judiciario.png" alt="">
  </div>
  <div class="buttons">
    <div class="groups groups-frist">
      <div>
        <a routerLink="../justica-federal/ordem-moises" class="button">
          Ordem de Moisés
        </a>
      </div>
      <div>
        <a routerLink="../justica-federal/ordem-arao" class="button">
          Ordem de Arão
        </a>
      </div>
    </div>
    <div class="groups groups-second">
      <div>
        <a routerLink="../justica-federal/ordem-moises/sumula-vinculante" class="button">
          Súmula Vinculante
        </a>
      </div>
      <div>
        <a routerLink="../justica-federal/ordem-moises/doutrina-rabinica" class="button">
          Doutrina Rabínica
        </a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
