<div class="box">
  <h1 class="title">
    Doutrina Rabínica Messiânica
  </h1>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          Único
        </div>
      </div>
      <div class="img">
        <img src="/assets/yeshua.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>YESHUA HAMASHIA</b>
        </div>
        <div>
          <em>Rabino de Israel</em>
          <em>Mestre da Lei</em>
          <em>Doutor da Lei</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          30 d.C
        </div>
        <div>
          até
        </div>
        <div>
          33 d.C
        </div>
      </div>
      <div class="proposito">
        <div>
          Escola Messiânica
        </div>
        <a>
          [Ver ensinos]
        </a>
      </div>
    </div>
  </div>


  <h1 class="title">
    Doutrina Rabínica Mosaica
  </h1>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          Único
        </div>
      </div>
      <div class="img">
        <img src="/assets/moises.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>MOISÉS</b>
        </div>
        <div>
          <em>Rabino de Israel</em>
          <em>Mestre da Lei</em>
          <em>Doutor da Lei</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          ?
        </div>
        <div>
          até
        </div>
        <div>
          ?
        </div>
      </div>
      <div class="proposito">
        <div>
          Escola Mosaica
        </div>
        <a>
          [Ver ensinos]
        </a>
      </div>
    </div>
  </div>


</div>
