<h1>Propósito</h1>
<div>
  A Congregação Israelita Messiânica (CIM) surge com o propósito de unir todos
  os filhos do Reino de Deus, que nada mais são do que todas as tribos de
  Israel, saibam que YESHUA HAMASHIA sempre foi categórico e taxativo quando Ele
  definiu que os filhos do Reino eram os filhos da Casa de Israel:
</div>
<div>
  "Ouvindo isto, admirou-se Jesus e disse aos que o seguiam: Em verdade vos
  afirmo que nem mesmo em Israel achei fé como esta. Digo-vos que muitos virão
  do Oriente e do Ocidente e tomarão lugares à mesa com Abraão, Isaque e Jacó no
  reino dos céus. Ao passo que os filhos do reino serão lançados para fora, nas
  trevas; ali haverá choro e ranger de dentes". (Mateus 8:10-12)
</div>
<div>
  Saibam que o ETERNO não mente e nem se arrepende, quando ELE prometeu ao nosso
  Pai Abraão que dele sairiam reis, povos e nações, o Eterno, nosso pai, se
  referia a descendência carnal de Abraão, e estas tais promessas deveriam ser
  compartilhadas tanto com os: ismaelitas, israelitas, midianitas, edomitas...
  Digo, com todas as nações que procederam de Abraão. Mas, o Eterno transferiu
  este direito primogenitura a Isaque ao invés de Ismael, e as promessas a
  Isaque ao invés dos demais filhos de Abraão, porque o Eterno nos amou mais do
  que a eles, e o Eterno se agradou a dar mais honra a nós do que a eles. Assim
  como, o Eterno amou Jacó nosso pai, porém aborreceu a Esaú nosso irmão.
</div>
<h1>E quanto aos gentios?</h1>
<div>
  Os planos do ETERNO são que os gentios (ou as nações) sejam ilumidados pela
  luz do Reino de Jerusalém, e por nossa luz os gentios andarão, e quanto a nós,
  os eleitos da casa de Israel, habitaremos com nosso noivo, melhor dizendo, com
  nosso esposo YESHUA HAMASHIA, porque a noiva do Cordeiro somos nós, os
  israelitas. Todavia, as virgens, são os gentios chamados para celebrar as
  bodas do cordeiro.
</div>
<div>
  <b
    ><em
      >Naquele dia", diz o Senhor, "ela me chamará de "Meu Marido", e não me
      chamará mais de "Meu Baal"</em
    ></b
  >. Removerei da sua boca os nomes dos baalins, e ela não mais se lembrará
  desses nomes. Naquele dia, farei a favor dela uma aliança com os animais
  selvagens, com as aves do céu e com os animais que rastejam sobre a terra.
  Tirarei da terra o arco, a espada e a guerra e farei com que o meu povo
  repouse em segurança.
  <em
    ><b
      >Farei de você a minha esposa para sempre. Farei de você a minha esposa em
      justiça, em juízo, em bondade e em misericórdia. Farei de você a minha
      esposa em fidelidade, e você conhecerá o Senhor</b
    ></em
  >". "Naquele dia, eu responderei", diz o Senhor, "responderei aos céus, e
  estes responderão à terra; (Oséias 2: 16-21)
</div>
<h3>Os gentios serão governados por Jerusalém</h3>
<div>
  <em
    ><b
      >As nações se encaminham para a sua luz, ó Jerusalém, e os reis são
      atraídos para o resplendor do seu amanhecer</b
    ></em
  >. Levante os olhos ao redor e veja: todos se reúnem e vêm até você. Os seus
  filhos chegam de longe, e as suas filhas são trazidas nos braços. Ao ver isso,
  você ficará radiante de alegria; o seu coração baterá forte e se dilatará de
  júbilo, porque você receberá a abundância do mar, e as riquezas das nações
  serão trazidas a você. O seu território ficará coberto por uma multidão de
  camelos, os dromedários de Midiã e de Efa. Todos virão de Sabá; trarão ouro e
  incenso e publicarão os louvores do Senhor. Todas as ovelhas de Quedar se
  reunirão junto de você; os carneiros de Nebaiote a servirão; serão aceitos ao
  serem oferecidos sobre o meu altar, e eu tornarei mais glorioso o templo da
  minha glória. Quem são estes que vêm voando como nuvens e como pombas voltando
  ao pombal? Certamente as terras do mar me aguardarão. À frente virão os navios
  de Társis para trazerem de longe os seus filhos, ó Jerusalém, e, com eles, a
  prata e o ouro, para a santificação do nome do Senhor, seu Deus, e do Santo de
  Israel, porque ele revestiu você de glória. "Estrangeiros edificarão as suas
  muralhas, e os seus reis a servirão. Porque no meu furor eu a castiguei, mas
  na minha graça tive compaixão de você.
  <b
    ><em
      >Os seus portões estarão sempre abertos; não serão fechados nem de dia nem
      de noite, para que lhe sejam trazidas as riquezas das nações, e,
      conduzidos com elas, os seus reis. Porque a nação e o reino que não a
      servirem perecerão; sim, essas nações serão totalmente arrasadas</em
    ></b
  >". (Isaías 60: 3-12)
</div>
<h3>Os gentios levarão glória a Jerusalém</h3>
<div>
  A cidade não precisa do sol nem da lua para lhe dar claridade, pois a glória
  de Deus a ilumina, e o Cordeiro é a sua lâmpada. As nações andarão mediante a
  sua luz, e os reis da terra lhe trazem a sua glória. Os seus portões jamais se
  fecharão de dia, pois nela não haverá noite. E lhe trarão a glória e a honra
  das nações. (Apocalipse 21: 23-26)
</div>
<h3>Promessas feitas a Judá</h3>
<div>
  O cetro não se afastará de Judá, nem o bastão sairá de entre os seus pés, até
  que venha Siló; <em><b>e a ele obedecerão os povos</b></em>. (Gênesis 49: 10)
</div>
<h1>Legalidade</h1>
<div>
  Apesar de todos nós sermos filhos do Reino, as posições dentro do reino de
  Deus já foram preestabelecidas pelo próprio Deus. Ou seja, Deus separou para
  si as funções de cada tribo de Israel dentro do Reino de Deus.
</div>
<h3>Função de Judá e Levi no Reino de Deus</h3>
<div>
  Judá ficou com o cetro real que é o Trono Real de YESHUA HAMASHIA, e com o
  bastão que é a legislatura do Senado de Sião de onde sairá a Lei
</div>
<div>
  Levi ficou com o sacerdócio real que é o Templo de Deus, e também com a missão
  de serem os GUARDIÕES DA LEI, quer ensinando-a como rabino, quer defendendo-a
  como juiz. Porque as tábuas da lei ficavam na arca da aliança junto ao sumo
  sacerdote, e as leis de Deus ficavam armazenadas no templo de Deus junto aos
  sacerdotes da tribo de Levi.
</div>
<div>
  E através de Judá e Levi a casa de Israel se manteve de pé através da
  história, e nós precisamos nos levantar mais uma vez para ajudar nossos irmãos
  a retornarem para nosso Deus e pai.
</div>
<a routerLink="" href="" target="_blank">
  E como saber a qual tribo eu pertenço? Clique aqui e veja mais
</a>
<h3>Funções de algumas tribos</h3>
<div>
  Zebulom será a força naval do Reino, os comerciantes marítimos do Reino, mercantes ricos e influentes dentro do Reino. (Gênesis 49: 13)
</div>
<div>
  Issacar será a força física do Reino, serão os engenheiros, arquitetos... Trabalharão com a construção civil do Reino.  (Gênesis 49: 14-15)
</div>
<div>
  Dã auxiliará a tribo de Levi a guardar a lei, e aplicá-la, da tribo de Dã sairão os analistas do judiciário e os técnicos legislativos do Reino.
  Enquanto os cargos de juízes federais e estaduais ficarão com a tribo de Levi  (Gênesis 49: 16)
</div>
<div>
  Gade será a milícia do Reino, serão as forças paramilitares Reino.  (Gênesis 49: 19)
</div>
<div>
  De Aser sairá os agricultores e pecuaristas, eles produzirão alimentos abundantemente para o Reino.  (Gênesis 49: 20)
</div>
<div>
  De Naftali sairá os apresentadores, atores, músicos, artistas, influenciardores sociais... Eles usarão seus dons para a indústria de entretenimento
  para o Reino.  (Gênesis 49: 21)
</div>
<h1>Legalidade</h1>
<div>
  Apesar de todos nós sermos filhos do Reino, as posições dentro do reino de
  Deus já foram preestabelecidas pelo próprio Deus. Ou seja, Deus separou para
  si as funções de cada tribo de Israel dentro do Reino de Deus.
</div>
