<div class="nav-bar">
  <div class="logo">
    <a routerLink="">
      CIM - Congregação Israelita Messiânica
    </a>
  </div>
  <div class="buttons">
    <a routerLink="">
      Início
    </a>
    <a routerLink="sobre">
      Sobre
    </a>
    <a routerLink="reino-jerusalem">
      Reino de Jerusalém
    </a>
    <a routerLink="trono-real">
      Trono Real
    </a>
    <a routerLink="senado-federal">
      Senado
    </a>
    <a routerLink="justica-federal">
      Judiciário
    </a>
  </div>
</div>
