.box{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;

    .title{
      font-size: 24px;

    }

    .sub{
      margin-top: -35px;
    }

    img{
      width: 150px;
      height: 150px;
    }
  }

  .texto-sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;

    .title-sub{
      font-size: 24px;
    }

  }
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 24px;
  margin-bottom: 30px
}

.card-ministerio{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 30px;

  .card-disposition{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    min-height: 0;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-items: center;

    .sucessao{
      display: flex;
      flex-direction: row;
      border: 1px solid rgb(0, 0, 0);
      height: 100%;
      padding: 10px;
      justify-self: center;
      justify-content: center;
      align-self: center;
      align-items: center;
      text-align: center;
    }

    .img{
      display: flex;
      flex-direction: row;
      border: 1px solid rgb(0, 0, 0);
      height: 100%;
      padding: 10px;

      img{
        width: 150px;
        border-radius: 180px;
      }
    }

    .name{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 200px;
      border: 1px solid rgb(0, 0, 0);
      padding: 10px;
      justify-self: center;
      justify-content: center;
      align-self: center;
      align-items: center;
      text-align: center;

    }

    .ministerio{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 200px;
      border: 1px solid rgb(0, 0, 0);
      padding: 10px;
      justify-self: center;
      justify-content: center;
      align-self: center;
      align-items: center;
      text-align: center;

    }

    .proposito{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 200px;
      border: 1px solid rgb(0, 0, 0);
      padding: 10px;
      justify-self: center;
      justify-content: center;
      align-self: center;
      align-items: center;
      text-align: center;

    }

  }

}

.buttons{
  display: flex;
  flex-direction: row;
  min-width: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.button{
  display: flex;
  flex-direction: row;
  background-color: #0d3b5c;
  padding: 10px;
  margin-right: 30px;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  &:hover{
    background-color: #082e4b;
  }
}
