<div class="box">
  <div class="texto">
    <div class="title">
      JUDICIÁRIO DE JERUSALÉM
    </div>
    <div class="title sub">
      הרשות השופטת בירושלים
    </div>
    <img src="/assets/judiciario.png" alt="">
  </div>
  <div class="buttons">
    <div>
      <a routerLink="../justica-federal/ordem-moises" class="button">
        Ordem de Moisés
      </a>
    </div>
    <div>
      <a routerLink="../justica-federal/ordem-arao" class="button">
        Ordem de Arão
      </a>
    </div>
  </div>
  <br>
  <h1 class="title">
    Ordem de Melquisedeque
  </h1>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          Único
        </div>
      </div>
      <div class="img">
        <img src="/assets/yeshua.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>YESHUA HAMASHIA</b>
        </div>
        <div>
          <em>filho de Deus, Messias, raiz de Davi, Adão Perfeito, Palavra de Deus, Deus Conosco (Emanuel)</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          1º dia da Páscoa ao entardecer, crucificação
        </div>
        <div>
          até
        </div>
        <div>
          3º dia da Páscoa, ressurreição
        </div>
      </div>
      <div class="proposito">
        <div>
          Salvador do Mundo, Luz das nações, Redenção da Casa de Israel
        </div>
      </div>
    </div>
  </div>

  <h1 class="title">
    Ordem de Aarão
  </h1>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          1º
        </div>
      </div>
      <div class="img">
        <img src="/assets/temple.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>Aarão</b>
        </div>
        <div>
          <em>Sumo Sacerdote de Israel</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          ?
        </div>
        <div>
          até
        </div>
        <div>
          ?
        </div>
      </div>
      <div class="proposito">
        <div>
          Intercessor da Casa de Israel
        </div>
      </div>
    </div>
  </div>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          2º
        </div>
      </div>
      <div class="img">
        <img src="/assets/temple.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>Eleazar</b>
        </div>
        <div>
          <em>Sumo Sacerdote de Israel</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          ?
        </div>
        <div>
          até
        </div>
        <div>
          ?
        </div>
      </div>
      <div class="proposito">
        <div>
          Intercessor da Casa de Israel
        </div>
      </div>
    </div>
  </div>

  <div class="card-ministerio">
    <div class="card-disposition">
      <div class="sucessao">
        <div>
          3º
        </div>
      </div>
      <div class="img">
        <img src="/assets/temple.jpg" alt="">
      </div>
      <div class="name">
        <div>
          <b>Finéias</b>
        </div>
        <div>
          <em>Sumo Sacerdote de Israel</em>
        </div>
      </div>
      <div class="ministerio">
        <div>
          ?
        </div>
        <div>
          até
        </div>
        <div>
          ?
        </div>
      </div>
      <div class="proposito">
        <div>
          Intercessor da Casa de Israel
        </div>
      </div>
    </div>
  </div>

</div>
