<div class="box">
  <div class="texto">
    <div class="title">
      SENADO DE SIÃO
    </div>
    <div class="title">
      סנאט ציון
    </div>
    <img src="/assets/senado.png" alt="">
  </div>
  <div class="texto-sub">
    <div class="title-sub">
      Legislação
    </div>
    <div class="title-sub">
      חקיקה
    </div>
  </div>
<div class="card">
  <div class="cards">
    <a routerLink="//senado-federal/">
      Constituição Real
    </a>
    <a routerLink="//senado-federal/">
      Decretos Legislativos
    </a>
    <a routerLink="//senado-federal/">
      Medidas Provisórias
    </a>
    <a routerLink="//senado-federal/">
      Emendas à Constituição
    </a>
  </div>
  <div class="cards">
    <a routerLink="//senado-federal/">
      Leis Complementares
    </a>
    <a routerLink="//senado-federal/">
      Leis Ordinárias
    </a>
    <a routerLink="//senado-federal/">
      Leis Delegadas
    </a>
    <a routerLink="//senado-federal/">
      Resoluções Legislativas
    </a>
  </div>
  <div class="cards">
    <a routerLink="//senado-federal/tratados">
      Tratados
    </a>
  </div>
</div>
</div>
<router-outlet></router-outlet>

